<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Hello Angular!</title>
<script src="/bower_components/angular/angular.js"></script>
<script src="/app.js"></script>
<link rel="stylesheet" href="/main.css" />
</head>
<body ng-app="app">
	<table ng-controller="HttpGetController">
		<thead>
		    <th>city_id</th>
		    <th>city</th>
		    <th>country_id</th>
		    <th>last_update</th>
	    </thead>
	    <tbody>
		    <tr ng-repeat="city in datas">
		        <td>{{city.city_id}}</td>
		        <td>{{city.city}}</td>
		        <td>{{city.country_id}}</td> 
		        <td>{{city.last_update}}</td> 
		    </tr>
	    </tbody>
	</table>
</body>
</html>